body {
    margin: 0;
    font-family: 'Calistoga', sherif;
    background-color: #0a2239;
    color: #ffffff;
  }
  
  .menu-1 {
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #0a2239;
  }
  
  .menu-1 h1 {
    font-size: 7rem;
    margin-top: 10px;
    margin: 0;
  }
  .acoes{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .entrar{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  .btn-entrar {
    color: #ffffff;
    background: none;
    border: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
  }
  
  .cadastrar {
    font-size: large;
    margin: 0;
  }
  .btn-cadastrar {
    background-color: #ffffff;
    width: 120px;
    height: 60px;
    color: #0a2239;
    border: none;
    padding: 3px 10px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    border-radius: 8px;
    margin-top: -90px;
  }

  .pesquisar input {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    cursor: text;
    width: 700px;
    height: 20px;
  }
  .pesquisar button {
    background-color: #ffffff;
    height: 40px;
    padding: 10px;
    cursor: pointer;
  }
  .banner img {
    display: block;
    
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #0a2239;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .nav-bar a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .nav-bar a:hover {
    background-color: #ffffff;
    color: #0a2239;
    border-radius: 5px;
  }
  
  
  
  .sobre {
    background-color: #1c3b57;
    padding: 40px 20px;
    text-align: center;
  }
  
  .sobre h2 {
     margin-bottom: 20px;
    font-size: 24px;
  }
  
  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .conteudo img {
    max-width: 300px;
    border-radius: 10px;
  }
  
  .conteudo p {
    max-width: 800px;
    line-height: 1.6;
    text-align: justify;
  }
  
  .rodape {
    background-color: #0a2239;
    padding: 30px 20px;
    color: #ffffff;
    text-align: center;
    position: relative;
  }
  
  .rodape .arvore {
    margin-bottom: 20px;
  }
  
  .rodape .redes img {
    width: 24px;
    margin: 0 5px;
  }
  
  .contato {
    background-color: #ffffff;
    color: #0a2239;
    font-family: 'Calistoga', cursive;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .estrelas-lua {
    background: url('estrelas-lua.png') no-repeat center bottom;
    height: 150px;
    background-size: cover;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  .caixa {
    background-color: #dcdcdc; /* cinza claro */
    padding: 90px;
    border-radius: 20px;
    width: 900px;
    text-align: center;
  }

  .botao {

    width: 100%;
    padding: 40px;
    margin: 40px 0;
    background-color: #8a92ac; /* cinza azulado */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 40px;
    font-weight: bold;
    color: black;
    font-family: 'Calistoga', cursive;
    display: flex;
    justify-content: center;   
    align-items: center;       
    text-align: center;
  }

  .botao:hover {
    background-color: #7a819c;
  }

  .escrita{
    font-size: 20px;
    color: black;
    font-family: 'Calistoga', cursive;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  .campo-texto {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
  }
  .campo-texto:hover {
    border-color: #888;
  }

    .senha-container {
      position: relative;
      display: flex;
      align-items: center;
    }
    .senha-container button {
      position: absolute;
      right: 40px;
      top: 20%;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      color: #555;
      font-size: 30px;
      width: 30px;
      height: 30px ;
    }
    .caixaPessoaJ {
    background-color: #dcdcdc;
    padding: 90px;
    border-radius: 20px;
    margin-top: 700px;
    width: 800px;
    height: 950px;
    text-align: center;
  }
  .caixaEntrarPessoaJ {
    background-color: #dcdcdc;
    padding: 90px;
    border-radius: 20px;
    margin-top: 90px;
    width: 800px;
    height: 340px;
    text-align: center;
  }
  .caixaPessoaF {
    background-color: #dcdcdc;
    padding: 90px;
    border-radius: 20px;
    margin-top: 350px;
    width: 800px;
    height: 600px;
    text-align: center;
  }
  .amarela {
    width: 100%; 
      height: 4px; 
      background-color: yellow;
      margin: 2px 0;
  }
  .Continuar{
    width: 100px;
    padding: 10px;
    background-color: #1F2F61; 
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    align-items: center;       
    text-align: center;
    margin-top: 10px;
  }
  .Voltar{
    width: 90px;
    padding: 10px;
    background-color: #ffffff; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    color: black;
    align-items: center;       
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
  }
 

  
  